@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Circular', 'Spotify Circular', 'Montserrat', sans-serif;
    display: flex;
    height: 100vh;
    background-color: #191414;
    color: white;
}

.left-panel {
    background-color: #1DB954;
    flex: 1;
}

.right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191414;
}

.card {
    background-color: #282828;
    color: white;
    border-radius: 16px;
    padding: 25px;
    text-align: center;
    width: 320px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 60px;
    margin-bottom: 20px;
}

.card p {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

.card button {
    margin-top: 20px;
    background-color: #1DB954;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
}

.card button:hover {
    background-color: #1ed760;
}

.card button img {
    margin-right: 8px;
    width: 22px;
}
