@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 100vh;
}
.left-panel {
    background-color: #8000ff;
    flex: 1;
}
.right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.card {
    background-color: #8000ff;
    color: #ffffff;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card img {
    width: 50px;
    margin-bottom: 20px;
}
.card p {
    font-size: 18px;
    margin: 0;
}
.card button {
    margin-top: 20px;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.card button:hover {
    background-color: #1aa34a;
}
.card button img {
    margin-right: 8px;
    width: 20px;
}
